.right {
  background-color: lightgreen;
}

.wrong {
  background-color: lightcoral;
}

.title {
  margin-bottom: 5px;
}

.word-input {
  border: solid 1px;
  border-radius: 4px;
}

.word-input.right {
  border: solid 3px lightgreen;
}

.word-input.wrong {
  border: solid 3px lightcoral;
}

.mode {
  display: flex;
  align-items: center;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 10px;
}

.header {
  margin-top: 20px;
}
