<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">Abbrechen</ion-button>
    </ion-buttons>
    <ion-title style="text-align: center">Neu</ion-title>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="translationRef.invalid || wordlistRef.invalid"
        (click)="onConfirm()"
        [strong]="true"
        >Hinzufügen</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none"> {{ word }} - {{ language }} </ion-item>
  <ion-item fill="outline">
    <ion-label position="floating">{{ otherLanguage }}</ion-label>
    <ion-input
      required
      [(ngModel)]="translation"
      #translationRef="ngModel"
    ></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="7">
        <ion-list>
          <ion-item lines="none">
            <ion-select
              required
              [(ngModel)]="selectedWordlist"
              #wordlistRef="ngModel"
              placeholder="Wortliste auswählen"
            >
              <ion-select-option
                *ngFor="let options of wordlistService.wordlists"
                [value]="options.name"
                >{{ options.name }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="5">
        <ion-button class="ion-text-wrap" (click)="onAddWordlist()"
          >Neue Wortliste</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
