<div class="ion-padding">
  <ion-text class="ion-text-center">
    <p>Wähle eine Wortliste:</p>
  </ion-text>
  <div class="ion-text-center" #chipList>
    <ion-chip
      #chip
      *ngFor="let wordlist of wordlistService.wordlists; let i = index"
      color="primary"
      (click)="onSelectChip(chip, i)"
    >
      {{ wordlist.name }}
    </ion-chip>
  </div>
  <div class="editWordlistButton">
    <ion-button routerLink="edit-wordlists" size="small"
      >Wortlisten bearbeiten</ion-button
    >
  </div>
</div>
