<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Favoritenliste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>🇩🇪 </ion-col>
      <ion-col>🇭🇷 </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row
      *ngFor="let vocable of favoriteService.favoriteList; let i = index"
    >
      <ion-col>{{ vocable.german }}</ion-col>
      <ion-col>{{ vocable.croatian }}</ion-col>
      <ion-col size="1"
        ><ion-icon
          (click)="onRemoveFavorite(i)"
          color="danger"
          name="trash"
        ></ion-icon
      ></ion-col>
    </ion-row>
  </ion-grid>
  <div class="favToWordlistButton">
    <ion-button (click)="onSaveFavToWordlist()" class="ion-text-wrap"
      >Favoritenliste in Wortliste speichern und dann leeren</ion-button
    >
  </div>
</ion-content>
