<ion-content *ngIf="!databaseService.databaseLoaded">
    <app-loading-spinner></app-loading-spinner>
  </ion-content>
<ion-tabs *ngIf="databaseService.databaseLoaded">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="categories">
      <ion-icon name="albums-outline"></ion-icon>
      Kategorien
    </ion-tab-button>
    <ion-tab-button tab="favorites">
      <ion-icon name="star-outline"></ion-icon>
      Favoriten
    </ion-tab-button>
    <ion-tab-button tab="notes">
      <ion-icon name="clipboard-outline"></ion-icon>
      Notizen
    </ion-tab-button>
    <!-- <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      Einstellungen
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>