<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Wortlisten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="wordlistMode">
    <ion-segment-button value="categories">
      <ion-label>Kategorien</ion-label>
    </ion-segment-button>
    <ion-segment-button value="custom">
      <ion-label>Eigene Wortlisten</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-categories-wordlists *ngIf="wordlistMode === 'categories'"></app-categories-wordlists>
  <app-custom-wordlists
    *ngIf="wordlistMode === 'custom' && wordlistService.wordlists.length > 0"
  ></app-custom-wordlists>
  <p *ngIf="wordlistMode === 'custom' && wordlistService.wordlists.length === 0" class="no-custom-wordlists">
    Sie haben aktuell keine eigenen Wortlisten.<br /><br />
    Sie können eigene Wortlisten im Tab "Notizen" erstellen oder ihre Favoriten in eine eigene
    Wortliste kopieren.
  </p>
</ion-content>
