<ion-card *ngIf="!allDone">
  <ion-card-header>
    <ion-card-subtitle class="ion-text-center">
      Noch&nbsp;{{ vocableList.length }}&nbsp;
      <span *ngIf="vocableList.length > 1">Wörter</span>
      <span *ngIf="vocableList.length === 1">Wort</span>
    </ion-card-subtitle>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="10">
          <ion-card-title *ngIf="!audioMode" class="title">
            <ion-grid style="padding-left: 0px;">
              <ion-row>
                <ion-col style="padding-left: 0px" size="auto">{{
                  wordToPractice[otherLanguage]
                }}</ion-col>
                <ion-col
                  ><ion-icon
                    [color]="isFavoriteIconColor(wordToPractice)"
                    [name]="isFavoriteIconName(wordToPractice)"
                    (click)="toggleFavorite(wordToPractice)"
                  ></ion-icon
                ></ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
          <ion-card-subtitle *ngIf="!audioMode">
            Übersetzt ins {{ sprache }} bedeutet:</ion-card-subtitle
          >
          <ion-button *ngIf="audioMode" color="danger" (click)="onPlayAudio()">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button
            size="small"
            fill="clear"
            color="medium"
            (click)="skipWord()"
          >
            <ion-icon
              slot="icon-only"
              name="arrow-forward-circle-outline"
            ></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
    <ion-button
      color="dark"
      class="ion-margin"
      expand="block"
      fill="outline"
      [disabled]="disabledWhileWaiting"
      *ngIf="vocableList.length >= 1"
      [ngClass]="styleOfButtons[0]"
      (click)="onButtonClick(0)"
    >
      {{ wordListForButtons[0] }}
    </ion-button>
    <ion-button
      color="dark"
      class="ion-margin"
      expand="block"
      fill="outline"
      [disabled]="disabledWhileWaiting"
      *ngIf="vocableList.length > 1"
      [ngClass]="styleOfButtons[1]"
      (click)="onButtonClick(1)"
    >
      {{ wordListForButtons[1] }}
    </ion-button>
    <ion-button
      color="dark"
      class="ion-margin"
      expand="block"
      fill="outline"
      [disabled]="disabledWhileWaiting"
      *ngIf="vocableList.length > 2"
      [ngClass]="styleOfButtons[2]"
      (click)="onButtonClick(2)"
    >
      {{ wordListForButtons[2] }}
    </ion-button>
    <ion-button
      color="dark"
      class="ion-margin"
      expand="block"
      fill="outline"
      [disabled]="disabledWhileWaiting"
      *ngIf="vocableList.length > 3"
      [ngClass]="styleOfButtons[3]"
      (click)="onButtonClick(3)"
    >
      {{ wordListForButtons[3] }}
    </ion-button>
    <ion-button
      color="dark"
      class="ion-margin"
      expand="block"
      fill="outline"
      [disabled]="disabledWhileWaiting"
      *ngIf="vocableList.length > 4"
      [ngClass]="styleOfButtons[4]"
      (click)="onButtonClick(4)"
    >
      {{ wordListForButtons[4] }}
    </ion-button>
  </ion-card-content>
  <ion-row>
    <ion-col size="3">
      <ion-button
        color="light"
        class="ion-padding"
        size="large"
        (click)="onToggleLanguage()"
      >
        <ion-label>{{ languageFlag }}</ion-label>
      </ion-button>
    </ion-col>
    <ion-col size="9">
      <ion-segment
        color="secondary"
        [value]="getActiveModeSegment()"
        #modeSegment
        (ionChange)="onChangeMode(modeSegment)"
      >
        <ion-segment-button value="text">
          <ion-label>Text Mode</ion-label>
          <ion-icon name="text"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="audio">
          <ion-label>Audio Mode</ion-label>
          <ion-icon name="musical-notes"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
</ion-card>
