<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Wortlisten bearbeiten</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="wordlistService.wordlists.length === 0" class="noWordlists">
    <ion-label>Keine Wortlisten</ion-label>
  </div>
  <ion-grid *ngIf="wordlistService.wordlists.length > 0">
    <ion-row class="wordlistSelection">
      <ion-col>
        <ion-item lines="none">
          <ion-label position="stacked">Wortliste:</ion-label>
          <ion-select
            placeholder="Wortliste auswählen"
            [(ngModel)]="selectedWordlist"
            (ionChange)="onChangeWordlist()"
          >
            <ion-select-option
              *ngFor="let options of wordlistService.wordlists; let i = index"
              [value]="options.name"
              >{{ options.name }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="onEditWordlist()">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button color="danger" (click)="onDeleteWordlist()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="wordlistService.wordlists.length > 0">
    <ion-row>
      <ion-col>🇭🇷</ion-col>
      <ion-col>🇩🇪</ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row
      *ngFor="
        let word of wordlistService.wordlists[wordlistIndex].items;
        let i = index
      "
    >
      <ion-col>
        <ion-input
          [(ngModel)]="word.croatian"
          #croatianInput
          (ionFocus)="onInputFocused(croatianInput)"
          (ionBlur)="onInputBlured(croatianInput)"
        ></ion-input>
      </ion-col>
      <ion-col
        ><ion-input
          [(ngModel)]="word.german"
          #germanInput
          (ionFocus)="onInputFocused(germanInput)"
          (ionBlur)="onInputBlured(germanInput)"
        ></ion-input
      ></ion-col>
      <ion-col size="2">
        <ion-button size="small" color="danger" (click)="onDeleteWord(i)">
          <ion-icon size="small" name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
